HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
# Ambiente local (desenvolvimento)
DATABASE_CLIENT_LOCAL=sqlite
DATABASE_FILENAME=.tmp/data.db

# Ambiente produção (docker/nuvem)
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
# DATABASE_SSL=true
# DATABASE_SSL_REJECT_UNAUTHORIZED=false
