# Variaveis para producao
HOST=0.0.0.0
PORT=1337
NODE_ENV=production
APP_KEYS="troque1,troque2"
API_TOKEN_SALT=troque
ADMIN_JWT_SECRET=troque
TRANSFER_TOKEN_SALT=troque
JWT_SECRET=troque
ENCRYPTION_KEY=troque
EMAIL_PROVIDER=nodemailer
EMAIL_DEFAULT_FROM=nao-responder@femictec.com.br
EMAIL_DEFAULT_REPLY_TO=nao-responder@femictec.com.br
EMAIL_SMTP_HOST=mail.suaempresa.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_SECURE=false
EMAIL_SMTP_IGNORE_TLS=false
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
EMAIL_SMTP_REJECT_UNAUTHORIZED=true
EXTERNAL_PROJECTS_API_URL=https://plataforma-external.example.com
EXTERNAL_PROJECTS_API_TOKEN=troque_no_servidor
EXTERNAL_PROJECTS_API_METHOD=AUTO
FEMICTEC_SYNC_SECRET=troque_no_servidor
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_SSL=false
# DATABASE_SSL=true
# DATABASE_SSL_REJECT_UNAUTHORIZED=false
